.organizacao-div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    color: #6278F7;
    font-size: 32px;
    font-weight: 400;
    font-family: 'Prata';
}

h1::after {
  content: '';
  width: 64px;
  height: 4px;
  background-color: #6278f7;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-top: 22px;
}

.titulo-div {
    margin-top: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: relative;
}

.btn-add {
    position: absolute;
    left: 672px;
}