.card {
    color: black;
    margin-top: 636px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 1121px;
    height: 789px;
    border-radius: 20px;
    align-items: center;
    background-color: #F6F6F6;
    box-shadow: 7px 7px 15px 0px rgba(0, 0, 0, 0.08);
}

h3 {
    font-size: 32px;
    font-weight: 400;
    align-self: flex-start;
    margin-left: 96px;
}

.inputs {
    display: flex;
    flex-direction: column;
    width: 930px;
}

.inputs input {
    font-size: 16px;
    height: 80px;
    width: 912px;
    background-color: white;
    border: none;
    color: black;
    padding-left: 18px;
    box-shadow: 10px 10px 30px 0px rgba(0, 0, 0, 0.06);    
}

.inputs input::placeholder {
    font-size: 16px;
    color: #A4A4A4;
}

.inputs select {
    font-size: 16px;
    height: 80px;
    width: 930px;
    background-color: white;
    border: none;
    color: black;
    padding-left: 18px;
    box-shadow: 10px 10px 30px 0px rgba(0, 0, 0, 0.06);
}

.inputs label {
    align-self: flex-start;
    font-size: 18px;
    font-weight: 600;
}

.btn-criar {
    align-self: flex-start;
    margin-left: 96px;
    width: 167px;
    height: 80px;
    border-radius: 10px;
    background-color: #6278F7;
    color: white;
    font-size: 20px;
    font-weight: 700;
}